.linkage-select {
  display: inline-block;
  vertical-align: top;
  width: 100%;

  .linkage-block-frame {
    display: inline-block;
    vertical-align: top;
    max-width: 200px;

    nz-select {
      display: inline-block;
      vertical-align: top;
      width: calc(100% - 38%);
    }

    ::ng-deep .ant-select-selection--single {
      border-radius: 0px 0.25em 0.25em 0px;
    }

    .linkage-block-frame-name {
      width: 38%;
      text-align: center;
      background-color: #fff;
      height: 32px;
      float: left;
      line-height: 23px;
      padding-top: 3px;
      padding-right: 5px;
      padding-left: 5px;
      border-top: 1px solid rgba(217, 217, 217, 1);
      border-bottom: 1px solid rgba(217, 217, 217, 1);
      border-left: 1px solid rgba(217, 217, 217, 1);
      border-radius: 0.25em 0px 0px 0.25em;
    }
  }

}

@media screen and (max-width: 770px) {
  .linkage-select {

    .linkage-block-frame {
      width: 100% !important;
      max-width: none;
    }
  }
}
