// 分页
.page-list {
  text-align: center;
  color: #666;
  width: 100%;
  height: 31px;
  clear: both;
  margin: 10px auto;

  a {
    color: #666;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    background: #F7F7F7;
    display: inline-block;
    text-decoration: none;
  }

  a:hover, > b {
    color: #ffffff;
    background: #09A183;
  }

  > b {
    display: inline-block;
    padding: 5px 10px;
  }

  a.curPage {
    color: #09A183;
    font-weight: bold;
  }
}
